[run]
omit =
    xkits_sheet/unittest/*
    xkits_sheet/attribute.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
    pass
